@charset "ISO-8859-1";

#tabuser{
	width: 60%;
	background-color: gold;
	box-shadow: 5px 5px 5px 5px;
	font: bold xx-large;
	color: white;
	
}

tr{
	background-color: green;
}
td{
	background-color: rgba(255,255,255,0.6);
	font-size: 20px;
	font-family:fantasy;
	border-radius: 6px;
	margin: 4px ;
	padding: 4px;
}